@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    background: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #020617;
    position:fixed;
    width: 100%;
    border-bottom: 1px solid #1e293b;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #cbd5f5;
    font-size: 14px;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Register Button */
.btn {
    padding: 6px 14px;
    background: #38bdf8;
    color: #020617 !important;
    border-radius: 6px;
    font-weight: 500;
}

/* Container */
.container {
    padding: 40px;
    display: flex;
    justify-content: center;
}

/* Card */
.card {
    background: #020617;
    margin-top: 40px;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #1e293b;
}

/* Headings */
h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* Table */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.styled-table th,
.styled-table td {
    padding: 12px;
    border-bottom: 1px solid #1e293b;
    text-align: left;
}

.styled-table th {
    color: #94a3b8;
    width: 30%;
}

/* Text */
.text-muted {
    color: #94a3b8;
    font-size: 14px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #1e293b;
    margin-top: 280px;
    position: relative;
    color: #94a3b8;
}
